body{
	color:#666666;
	font-family: 'helvetica' !important;
	font-size:11px;
	padding:0px; !important;
	margin: 0px;
}

#header{
	background-color: #ed6c23;
	height: 80px;
	width: 100%
}

#contenidoHeader{
	margin: auto;
	width: 100%;
}
#logo{
	float: left;
	margin-left: 10px;
	margin-top: 25px;
}
#tit_cta{
	float: left;
	margin-left: 10px;
	margin-top: 25px;
	color:white !important;
	text-align: left;
    font-family: Verdana;
    font-size:30px !important;
}
#menuHeader{
	float: right;
	margin-top: 18px;
	margin-right: 10px;
}
.menutop{
	float: right;
	margin-right: 1px;
}

#listado_p{
    margin: 0 auto; 
	width: 98%;
}
#contenido_p{
    margin: 0 auto; 
	width: 98%;
}

#link_b a:link {
	color:white;
	font-family : 'Arial';
	font-size: 12px;
	text-decoration:none;
	display:block;
}
#link_b a:visited {
	color:white;
	font-family : 'Arial';
	font-size: 12px;
	text-decoration:none;

	display:block;
}
#link_b a:hover {
	color:white;
	font-family : 'Arial';
	font-size: 12px;
	text-decoration:none;
	display:block;
}

a.linkb:link,a.linkb:visited,a.linkb:hover,a.linkb:active {
	color:white;
	font-family : 'Arial';
	font-size: 12px;
	text-decoration:none;
	display:block;
}

a.linkm:link,a.linkm:visited,a.linkm:hover,a.linkm:active {
	color:#ed6c23;
	font-family : 'Arial';
	font-size: 14px !important;
	text-decoration:none;
	display:block;
}

#menulistado{
    width:500px; 
    margin:10px auto 0 10px;
    display:block;
}

select {
 
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;

}

td.rosa
{background-color: #FBE0D0; color:#ed6c23;padding-right:10px;padding-left:5px}

table.ybl thead th,table.ybl thead td{padding:2px 4px 2px 4px;text-align:left;}
table.ybl thead tr {background-color: #ed6c23; color:white !important;}
table.ybl tfoot th,table.ybl tfoot td{padding:4px;text-align:left;}
table.ybl tbody th,table.ybl tbody td{padding:4px}

a:link,a:visited,a:hover,a:active {
	color:#ed6c23;
	font-family : 'Arial';
	font-size: 11px;
	text-decoration:none;
}