<div class="panel panel-default">
  <div class="panel-heading">{{solucion.nombre}}</div>
  <div class="panel-body">
	<form name="frmSolucion" class="form-inline">
	  <div class="form-group" >
	    <label for="nombre">Nombre</label>
	    <input type="text" size="50" ng-model="solucion.nombre" required>
	  </div>
	  <div class="form-group">
	    <label for="descripcion">Descripci&oacute;n:</label>
	    <textarea class="form-control" rows="4" cols="50"
	    	ng-model="solucion.descripcion"></textarea>
	  </div>
	  <div class="form-group">
	    <label for="">Vertical:</label>
	    <select-tablas-codigos cod-tabla="solucion.codTablaVertical"
	    	cod-dato="solucion.codDatoVertical">
	    </select-tablas-codigos>
	  </div>
	  <div class="form-group">
	    <label for="">&Aacute;mbito:</label>
	    <select-tablas-codigos cod-tabla="solucion.codTablaAmbito"
	    	cod-dato="solucion.codDatoAmbito">
	    </select-tablas-codigos>
	  </div>
	  <div class="form-group">
	    <label for="">Tipo:</label>
	    <select-tablas-codigos cod-tabla="solucion.codTablaTipo"
	    	cod-dato="solucion.codDatoTipo">
	    </select-tablas-codigos>
	  </div>
	  <div class="form-group">
	    <label for="">&Aacute;rea:</label>
	    <input type="text" ng-model="solucion.area">
	  </div><div class="form-group">
	    <label for="">Estado:</label>
	    <select ng-options="(estado | HTMLActive) for estado in $root.estados"
	    	ng-model="solucion.estado" required/>
	  </div>
	  <br>
	  <button type="submit" class="btn btn-primary" ng-click="save()" 
	  	ng-disabled="!frmSolucion.$dirty">
		<span ng-hide="result && !frmSolucion.$dirty">
			Guardar
		</span>
	  	<span ng-show="result && !frmSolucion.$dirty">	  	
	  		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Guardado 
	  	</span>
	  </button>
	  <!-- <button type="submit" class="btn btn-default">Borrar</button>  -->
	</form>	
  </div>
</div>